
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.body-style{
    background-color: black;
}









.conten-vsion{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding:5rem ;
}
.contenido-mvv{
   
    margin:1rem;
    padding:1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid aqua;

}
.title-vision{
    color: white;
    font-size:1rem;
    font-family: 'Tilt Neon', cursive;
    text-align:start;
}
.texto-vision{
    color: rgb(255, 255, 255);
    font-size:20px ;
}
.propganda-home{
    background-color: blue;
    width:100%;
}
.imagen-propganda{
   
    background-image: url(fotos-home/home4.jpg);
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    height:30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.text-popaganda{
    margin-top:2rem ;
    padding:7rem;
    background-color: rgba(0, 0, 0, 0.675);
    width:500px;
    height:400px ;
    border: #058e90 1px solid;
}
.text-popaganda h1{
    color: white;
    text-align: center;
}
.text-popaganda p{
    color:white;
    font-size:20px;
    text-align: center;

}
.separador{
    width:100%;
    height:100px ;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 2rem;
    color: white;
}

.ventana-emergente{
    background-color: rgba(10, 159, 164, 0.482) ;
    width:250px;
    height:100px;
    z-index:5;
    position: absolute;
    padding:10px;
    margin:5px 5px 0px 0px;
    text-align: center;
    font-size:bold ;
    color: white;
    border-radius:20px;
    font-family: 'Tilt Neon', cursive;

    
}
.p{
    font-size:15px;
    
}
.emergente{
    text-decoration: none;
    color: white;
    transition: 1s;
}
.emergente:hover{
    color: aqua;
    font-size:50px ;
    transition:1ms;
    
}

.ventana-emergente:hover{
    color: aqua;
    font-size:50px ;
    transition:1ms;
}











@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

}

@media screen and (max-width: 800px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #F6615D;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }


    .conten-vsion{
     
        display: flex;
        flex-direction: column;
    }
    .contenido-mvv{
        max-width:700px;
        margin:1rem;
        padding:1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid aqua;
    
    }
    .title-vision{
        text-align:center;
    }
    .texto-vision{
        text-align: center;
        
    }


    .propganda-home{
        background-color: blue;
        max-width:390px;
        margin: auto;
    }
    .imagen-propganda{
      
        display:none;
    }
    .separador{
        max-width:350px;
        height:100px ;
        flex-direction: column;
        text-align: center;
       
    }
    
}


@media screen and (max-width:400px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #F6615D;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }

    .conten-vsion{
        max-width:400px;
        display: flex;
        flex-direction: column;
    }
    .contenido-mvv{
        max-width:400px;
        margin:1rem;
        padding:1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 1px solid aqua;
    
    }
    .title-vision{
        text-align:center;
    }
    .texto-vision{
        text-align: center;
        
    }


    .propganda-home{
        background-color: blue;
        max-width:390px;
        margin: auto;
    }
    .imagen-propganda{
      
        display:none;
    }
    .separador{
        max-width:350px;
        height:100px ;
        flex-direction: column;
       
    }
    
    
}